<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{496,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{620,0},{124,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hurt000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{744,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hurt001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{795,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{846,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{891,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{936,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{981,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{1026,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{1071,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1116,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1167,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1218,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1269,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1320,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1371,0},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{1422,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c578c83e09bb1ebdf96cc603b685ec:542738a383cadb153ee54f574f9ff41a:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
